# sdist & wheel
include version.txt
recursive-include licenses *
recursive-include csrc *
recursive-include third_party/cutlass/include *
recursive-include third_party/flashinfer/include *

# wheel-only
exclude src/punica/_build_meta.py

# Unneeded files
prune benchmarks
prune */__pycache__
global-exclude *.so
