RUNNER_SCOPE=repo
REPO_URL=https://github.com/punica-ai/punica
LABELS=gpu,sm80
ACCESS_TOKEN=foo-access-token
RUNNER_WORKDIR=/tmp/ci-punica
CI_RUNNER_CACHE_DIR=/data/ci-punica-cache
DISABLE_AUTO_UPDATE=1
EPHEMERAL=1
